html { 
  background: url("index.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#links div {
  text-align: center;
  font-size: 30px; 
  margin: 10px; 
}

#links div a {
  color: white; 
  opacity: 0.8;
  text-decoration: none; 
}

#links div a:hover {
  color: #1C50FC; 
}